@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .trap1 {
      width: screen;
      height: 50vh;
      clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
      background-color: #F2E9D9;
      border-radius: 20px;
      padding-left: 50px;
      padding-right: 30px;
      padding-top: 15px;
    }

    .customWidth {
        width: 25rem;
    }
  }

  body {
    padding: 20px;
  }